html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
/* 
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
    --primary: #89b0ae;
    --secondary: #555b6e;
    --overlay: #ffd6ba;
    --error: #ff4a4a;
}

/* base styles & title */
body {
    font-family: "Noto Serif";
    color: var(--secondary);
}
.App {
    max-width: 1366px;
    margin: 0 auto;
}
.title h1 {
    color: var(--primary);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: normal;
}
.title h2,
.title p {
    text-align: center;
}
.title h2 {
    margin-top: 60px;
    font-size: 2.6rem;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profileButton {
    margin: 0 5px !important;
    color: white !important;
    background-color: var(--primary) !important;
}
.loginButton {
    color: white !important;
    background-color: var(--secondary) !important;
    height: 100%;
}
.logoutButton {
    color: white !important;
    background-color: var(--secondary) !important;
}
/* upload form styles */
/* form { */
/* margin: 30px auto;
    text-align: center;
    width: 100%; */
/* } */
.fileContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.fileContainer > .MuiFormControl-root {
    width: 100%;
    height: 200px;
}
.fileContainer .MuiInputBase-root {
    width: 100%;
    height: 100%;
}
.fileContainer .MuiFilledInput-multiline {
    padding: 50px 14px 14px;
}
.fileContainer > .uploadButton {
    position: absolute;
    left: 15px;
    top: 10px;
}
.fileContainer > span {
    position: absolute;
    right: 15px;
    top: 20px;
}
.submitButton {
    color: white !important;
    background-color: var(--primary) !important;
}

.uploadLabel input {
    height: 0;
    width: 0;
    opacity: 0;
}
.uploadLabel {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    margin: 10px auto;
    line-height: 30px;
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
}
.uploadLabel:hover {
    background: var(--primary);
    color: white;
}
.output {
    font-size: 0.8rem;
}
.error {
    color: var(--error);
}

/* progress bar styles */
.progress-bar {
    height: 5px;
    background: var(--primary);
    margin-top: 20px;
}

/* image grid styles */
.img-grid {
    margin: 35px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.img-wrap {
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    /* padding controls height, will always be perfectly square regardless of width */
    position: relative;
    opacity: 0.8;
    cursor: pointer;
}
.img-wrap img {
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* modal styles */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.backdrop > div {
    display: flex;
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 10px;
}
.backdrop > div > img {
    max-width: 50vw;
    max-height: 70vh;
    width: auto;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.backdrop > div > div {
    min-width: 20vw;
    width: auto;
    height: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
}
.modalUpload {
    border-bottom: 1px solid gray;
    /* padding-bottom: 15px; */
    width: 100%;
}

/*profile page styles*/
.profileDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #bbb;
    padding: 10vw;
    background-color: #ddd;
}

@media screen and (max-width: 600px) {
    /*Title Screen elements*/
    .control {
        margin-top: 10px;
    }
    .profileButton,
    .loginButton,
    .logoutButton {
        font-size: 0.675rem !important;
    }
    /* image grid styles */
    .img-grid {
        margin: 35px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .backdrop > div {
        display: flex;
        max-width: 90%;
        max-height: 90%;
        flex-direction: column;
        vertical-align: middle;
        box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
        background-color: white;
    }
    .backdrop > div > img {
        max-width: 80vw;
        max-height: 70vh;
        width: auto;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .backdrop > div > div {
        min-width: 20vw;
        width: auto;
        height: auto;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 10px;
        padding: 10px;
    }
    .backdrop > div {
        width: 80%;
    }
    .modalUpload {
        border-bottom: 0px;
        /* padding-bottom: 15px; */
        width: 100%;
    }
}
